/* Estilos para a grade de temas */
.temas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* Estilos para cada tema */
.tema {
    text-align: center;
    margin-bottom: 20px;
}

.tema img {
    display: block;
    margin: 0 auto; /* Centralizando horizontalmente */
}

.tema p {
    margin-top: 10px;
}

.tema button {
    margin-top: 10px;
}